.menu-wrap {
    
    top: 0;
    left: 0;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 2;
  }
  .menu-wrap .btnwht {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background: transparent;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  /* btnwht line */
  .menu-wrap .btnwht > div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fafafa;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  
  /* btnwht top & bottom line */
  .menu-wrap .btnwht > div:before,
  .menu-wrap .btnwht > div:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    background: inherit;
    height: 2px;
    width: 100%;
    z-index: 1;
  }
  .menu-wrap .btnwht > div:after {
    top: -10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .btnwht > div {
    transform: rotate(135deg);
  }
  .menu-wrap .toggler:checked + .btnwht > div:before,
  .menu-wrap .toggler:checked + .btnwht > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate on hover when checked */
  .menu-wrap .toggler:checked:hover + .btnwht > div {
    transform: rotate(225deg);
  }
  .menu {
    position: fixed;
    top: 64px;
    left: 0;
    background: white;
    box-shadow: 4px 4px 10px #00000029;
    height: 100vh;
    width: 0;
    display: flex;
   
    opacity: 0;
    transition: all var(--menu-speed) ease;
  }
  .menu > div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex: none;
    display: flex;
   
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }
  .menu ul {
    list-style: none;
    padding-left: 1rem;
    width: 15vw;

  }
  .menu li {
    padding: .5rem 0;
  }
  .menu > div a {
    text-decoration: none;
    color:#5F6368;
    
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  .menu a:hover {
    color: #FA6204;
    transition: color 0.3s ease-in;
  }
  
  .focus:focus {
    color:  #FA6204;
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    opacity: 1;
    width: 15vw;
    transition: all var(--menu-speed) ease;
  }
  
  @media (max-width: 500px)  {
    .menu-wrap .toggler:checked ~ .menu {
     
      width: 50vw;
      
    }
  }
  @media (max-width: 500px)  {
    .menu ul {
      list-style: none;
      padding-left: 1rem;
      width: 50vw;
  
    }
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    opacity: 1;
    transition: opacity 0.4s ease-in;
  }
  .menu-wrap .toggler:checked ~ .menu > div a {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
 span{
  font: normal normal medium 14px/18px Helvetica Neue;
  font-size: small;
  padding-left: 0.5rem;
 }
 .line{
  border-bottom: 1px solid #F0F1F3;
 }
  /* @media (max-width: 500px) {
    header {
      background: url("./bg-img.jpg") no-repeat 40% center / cover;
    }
    .menu-wrap .toggler:checked ~ .menu {
      width: 65vw;
    }
  } */
  svg:hover {
    fill: #FA6204;
  }
  